<h1 class="pagetitle">編集</h1>
<%= form_for @money,:url => {:action => :update} do |f| %>
  <div class="main">
    <p class="input-field">
      <%= f.label :deposit, "回収金入力" %>
      <%= f.number_field :deposit %>
    </p>
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= link_to "トップ", root_path %>