<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% @moneys_arr.each do |data| %>
  <p class="data"><%= data[2].strftime('%m月%d日') %>の回収金</p>
  <p class="input-data"><%= data[1] %>円</p>
  <p class="data">損益</p>
  <% extra_money = data[1] - 1360 %>
  <p class="input-data"><%= extra_money %>円</p>
  <p><%= link_to "編集", edit_money_path(data[0]) %></p>
  <p><%= link_to "削除", money_path(data[0]), method: :delete %></p>
  <% @sum_money << extra_money %>
<% end %>
  <p>現在の余った回収金</p>
  <p><%= @sum_money.sum %>円</p>
<%= link_to "回収金入力", new_money_path %>
<%= link_to "トップ", root_path %>