<% sum_money = [] %>
<% @moneys_arr.each do |data| %>
  <p><%= data %></p>
  <% extra_money = data - 1360 %>
  <p><%= extra_money %></p>
  <% sum_money << extra_money %>
<% end %>
  <p><%= sum_money.sum %></p>
<%= link_to "回収金入力", new_money_path %>
<%= link_to "トップ", root_path %>