<%= form_for @money,:url => {:action => :create} do |f| %>
  <p>
    <%= f.label :deposit, "回収金入力" %>
    <%= f.text_field :deposit %>
  </p>
  <%= f.submit "登録" %>
<% end %>

<%= link_to "戻る", moneys_path %>